<!-- Header Section Start-->
<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/images/optim-group-logo.svg" alt="Navbar Brand Logo" /></a>
            <button class="btn-border navbar-toggler" type="button" onclick="openNav()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="d-none d-lg-block d-xl-block">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex flex-row justify-content-start hdrMenu">
                        <li class="nav-item"><a class="nav-link" href="#mission">Our Mission</a></li>
                        <li class="nav-item"><a class="nav-link" href="#impact">Impact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#products">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="#people">People</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#investors_contact">Investors</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#PressKit">Press</a></li>
                    </ul>
                </div>
                <div id="mySidenav" class="sidenav row mx-0 d-flex flex-column" style="width: 0px;">
                    <div class="col-sm-12 px-0">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item position-relative border-bottom mb-3 pb-2">
                                <a class="navbar-brand float-start" href="#"><img src="assets/images/optim-group-logo.svg" alt="Navbar Brand Logo" /></a> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Our Mission</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Impact</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">People</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Investors</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/optim-group-logo.svg" alt="Navbar Brand Logo"></a>
    <button class="btn-border" type="button" onclick="openNav()">
      <i class="fa fa-bars"></i>
    </button>
  
    <div  id="mySidenav" class="sidenav row mx-0 d-flex flex-column">
    <div  class="col-sm-12 px-0">
    
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item position-relative border-bottom mb-3 pb-2"><a class="navbar-brand float-start" href="#"><img src="assets/images/optim-group-logo.svg" alt="Navbar Brand Logo"></a> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Our Mission</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Imapact</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#">People</a></li>
        <li class="nav-item"><a class="nav-link" href="#">People</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Investors</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
      </ul>
    </div>
    </div>
  </div-->
    </nav>
</header>
<!-- Header Section Ends-->
<main>
    <!-- Hero Banner Starts-->
    <section id="slider" class="slider-element include-header" style="background: url('assets/images/banner-visual.png') 100% 0px / auto 100% no-repeat; position: relative; max-height: 90vh; padding: 100px 0 0;">
        <div class="slider_img d-none d-sm-block d-lg-none d-md-none">
            <img src="assets/images/banner-visual.png">
        </div>
        <div class="container-fluid position-relative clearfix" style="z-index: 1;">
            <div class="row mt-md-5 mt-md-5 clearfix">
                <div class="col-lg-6 my-5 my-md-0 col-sm-12 col-md-6 col-12 offset-lg-1">
                    <div class="heading-block border-bottom-0 bottommargin-sm">
                        <h1 class="">The Future of recruiting is <span>Instant</span></h1>
                        <a href="#" class="btn btn-green btn-lg fw-600 mt-3">Read More</a>
                    </div>

                </div>
            </div>
            <div style="height:100px;" class="d-none d-lg-block d-md-block"></div>
        </div>

        <div class="video-wrap d-lg-none position-absolute" style="height: 100%; z-index: 0; top: 0;">
            <div class="video-overlay"></div>
        </div>
    </section>
    <!-- Hero Banner Ends-->
    <!-- About Details Starts-->
    <section class="about-details">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-11 mx-auto">
                    <div class="row detailing">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 py-3 br_right d-flex align-items-center">
                            <div class="count-box d-lg-flex align-items-center h-100 justify-content-center">
                                <span>600K</span>
                                <p>
                                    Pre-Screened <br />
                                    <span>Candidates</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 py-3 br_right d-flex align-items-center">
                            <div class="count-box d-lg-flex align-items-center h-100 justify-content-center">
                                <span>2000+</span>
                                <p>
                                    Freelance <br />
                                    <span>Recruiters</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 py-3 d-flex align-items-center">
                            <div class="count-box d-lg-flex align-items-center h-100 justify-content-center">
                                <span>20,000+</span>
                                <p>
                                    Global <br />
                                    <span>Partners</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Banner Ends-->
    <!-- Our Mission Starts-->
    <section id="mission" class="our-mission">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-xl-10 col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <h2 class="text-center heading-design">
                        Our mission is to leverage the power of technology,<br /> gig-economy & crowdsourcing and make recruiting <span>scalable</span> and <span>instant</span>
                    </h2>
                    <p class="text-center mt-5">Pre-Interviewed, ready to hire, background checked candidates for <span class="arrow">instant hiring.</span></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Mission Ends-->
    <!-- Revolutionizing Starts-->
    <section id="impact" class="revolutionizing">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                    <h2 class="text-center heading-design my-5">
                        OptimHire is revolutionizing the
                        <span>$500 Billion</span> recruitment industry
                    </h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-5 ml-5 secondary">
                    <h3>
                        What is <span class="logo">Optim<i>Hire</i></span>?
                    </h3>
                    <p><span>3</span> way ecosystem: Companies, Candidates and Freelancer Partners</p>
                    <p><span>40</span> products in one place</p>
                    <p>Highly Scalable & Full service solution</p>
                    <a href="#" class="btn btn-green btn-lg fw-600 mt-4 mb-4">Explore More</a>
                </div>

                <div class="col-md-7 diagram mx-auto text-center order-sm-1">
                    <img src="assets/images/corporate-logos-diagram.png" alt="Hero image" />
                </div>
            </div>
        </div>
    </section>

    <!-- Revolutionizing Ends-->

    <!-- What we do Starts-->

    <section id="products" class="what-we">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 pe-5">
                    <h2 class="heading-design mb-3 color-white">What we do</h2>
                    <p class="primary">
                        OptimHire, The AI-Based, End-to-End Recrutment Platforms, helps our clients Save traditional 10 months estimated cost ofhiring with 60Million pre-screened tech talent & 2,000+ Freelance Recruiters to scale Instantly and on-Demand so you hire in days,not
                        months WITHOUT Risking a Single Rupee and Your Time.
                    </p>
                    <p class="primary">Witn that OptimHire allows candidats to work anytime, anywhere,with anyone in the world in a three-way global ecosystem thatsupports not only professionals but also recruiters and companies.</p>
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-center align-items-stretch">
                        <div class="col-sm-6 col-6 d-flex align-items-stretch mb-4 justify-content-center">
                            <div class="card repo-card text-center">
                                <div class="card-body">
                                    <img src="assets/images/ai.png" alt="Ai Powered" />
                                    <h4 class="card-title text-center mt-3">A.I. Powered</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-6 d-flex align-items-stretch mb-4 justify-content-center">
                            <div class="card repo-card text-center">
                                <div class="card-body">
                                    <img src="assets/images/referral.png" alt="Referal System" />
                                    <h4 class="card-title text-center mt-3">Referal System</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-6 d-flex align-items-stretch mb-4 justify-content-center">
                            <div class="card repo-card text-center">
                                <div class="card-body">
                                    <img src="assets/images/interview.png" alt="Interview" />
                                    <h4 class="card-title text-center mt-3">Video Interview Tools</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-6 d-flex align-items-stretch mb-4 justify-content-center">
                            <div class="card repo-card text-center">
                                <div class="card-body">
                                    <img src="assets/images/ats-system.png" alt="ATS System" />
                                    <h4 class="card-title text-center mt-3">ATS System</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <h4 class="repo-text"><i>and 40+ Projects</i></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- What we do Ends-->

    <!-- 10x Roi Starts-->

    <section class="end-recruitment">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 primary c_img">
                    <img src="assets/images/monthly-cost.png" alt="Hero image" />
                </div>

                <div class="col-md-5 secondary offset-lg-1">
                    <h2 class="heading-design mb-2">10x ROI</h2>
                    <p class="para">
                        AI-Based, End-to-End Reecrutment PLatforms Helps You Save traditional 10 months estimated cost of hiring for Your Business with 60 Million pre-screened tech talent & 2,000+ Freelance Recruiters to scale Instantly and on-Demand so you hire in days, not
                        months WITHOUT Risking a Single Rupee and Your Time
                    </p>
                    <a href="#" class="btn btn-green btn-lg fw-600 mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- 10x Roi Ends-->

    <!-- Global Job Ecosystem Starts-->

    <section class="global-ecosystem">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 primary">
                    <h2 class="heading-design mb-2">Global Job Ecosystem</h2>
                    <p class="para">Our vision for candidates is to create a global job ecosystem where there are no boundaries, a platform where job seekers get their dream Jobs 10x faster & with the highest pay possible</p>
                    <a href="#" class="btn btn-green btn-lg fw-600 mt-4">Explore More</a>
                </div>

                <div class="col-md-5 secondary offset-lg-1 mx-auto">
                    <img src="assets/images/global-job.png" alt="Hero image" />
                </div>
            </div>
        </div>
    </section>

    <!-- Global Job Ecosystem Ends-->

    <!-- Easier for business Starts-->

    <section class="end-recruitment">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 primary c_img">
                    <img src="assets/images/easier-business.png" alt="Hero image" />
                </div>

                <div class="col-md-5 secondary offset-lg-1">
                    <h2 class="heading-design mb-2">10x Easier for business, candidates and recruiters</h2>
                    <p class="para">
                        OptimHire ATS, a most advanced FREE applicant tracking system helps companies organize candidate’s applications for hiring and recruitment purposes. It'll make life 10x Easier for business owners, candidates,and recruiters
                    </p>
                    <a href="#" class="btn btn-green btn-lg fw-600 mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Easier for business Ends-->

    <!-- Recruitment Partners Starts-->

    <section id="people" class="recruitment-partners">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h2 class="text-center heading-design mb-5">
                        Our Recruitment Partners use <br /> technology to benefit others
                    </h2>
                </div>
            </div>


            <div id="partners-testimonials" class="owl-carousel">
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#recruit1" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/recruit-1.png" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Saved us 6 months in assembling our team”</h4>
                            <b class="position">Varsha - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#recruit2" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/recruit-2.png" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Love their model of pay only on Successful Hire”</h4>
                            <b class="position">Ali. P - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#recruit3" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/recruit-3.png" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Love their model of pay only on Successful Hire”</h4>
                            <b class="position">Ali. P - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12 text-center mt-5"><a href="#" class="btn btn-green btn-lg fw-600">Explore Our Stories</a></div>
            </div>

        </div>
    </section>
    <section class="great-team-product">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h2 class="text-center heading-design mb-5">
                        Developers - Our Recruitment Partners use <br /> technology to benefit others
                    </h2>
                </div>
            </div>
            <div id="developers-testimonials" class="owl-carousel">
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#dev1" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/dev_1.jpg" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Saved us 6 months in assembling our team”</h4>
                            <b class="position">Varsha - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#dev2" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/dev_2.jpg" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Love their model of pay only on Successful Hire”</h4>
                            <b class="position">Ali. P - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="card recruit-team mb-3">
                        <div href="#dev3" data-toggle="modal" class="testimonial-video-box video-box-wrap video-box-small" role="button" tabindex="0">
                            <img class="card-img-top" src="assets/images/dev_3.jpg" alt="Referral partner Varsha testimonial video" />
                            <span class="play-btn">
                  <a href="javascript:void(0)" class="yt-play-btn"><img src="assets/images/youtube.svg" class="youtube-btn-io" /></a>
                </span>
                            <span class="video-timer">0:12</span>
                            <!-- <video width="100%" height="200px" controls>
            <source src="assets/videos/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video> -->
                        </div>
                        <div class="card-body">
                            <h4 class="title">“Love their model of pay only on Successful Hire”</h4>
                            <b class="position">Ali. P - <span>CEO at Lad Solutions</span></b>
                        </div>

                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12 text-center mt-5"><a href="#" class="btn btn-green btn-lg fw-600">Explore Our Stories</a></div>
            </div>
        </div>
    </section>

    <!-- Recruitment Partners Ends-->

    <!-- Great Team Great Product Starts-->

    <section id="team" class="great-team-product">
        <div class="container">
            <div class="row mt-5 align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto col-11">
                    <h2 class="heading-design mb-3 color-white">
                        Great Team<br /> Great Product
                    </h2>
                    <p class="primary">14 Years in IT Placements, Marketplace, Big Data, A.I. & Automation.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-3 col-sm-3 col-4 mb-3 pl_10">
                            <div class="card recruit-team">
                                <img class="card-img-top" src="assets/images/lakshmi-dp.jpg" alt="Card image" style="width: 100%;" />
                                <div class="card-body">
                                    <h4 class="title">Lakshmi M Kodali</h4>
                                    <b class="position">CEO</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-3 col-sm-3 col-4 mb-3 pl_10">
                            <div class="card recruit-team">
                                <img class="card-img-top" src="assets/images/pavan-dp.jpg" alt="Card image" style="width: 100%;" />
                                <div class="card-body">
                                    <h4 class="title">Pavan Kumar Rao</h4>
                                    <b class="position">CTO</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-3 col-sm-3 col-4 mb-3 pl_10">
                            <div class="card recruit-team">
                                <img class="card-img-top" src="assets/images/mustafa-dp.jpg" alt="Card image" style="width: 100%;" />
                                <div class="card-body">
                                    <h4 class="title">Mustafa Hussain</h4>
                                    <b class="position">COD</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-3 col-sm-3 col-4 mb-3 pl_10">
                            <div class="card recruit-team">
                                <img class="card-img-top" src="assets/images/ankan-dp.jpg" alt="Card image" style="width: 100%;" />
                                <div class="card-body">
                                    <h4 class="title">Ankan C</h4>
                                    <b class="position">Sales Head</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-3 col-sm-3 col-4 mb-3 pl_10">
                            <div class="card recruit-team">
                                <img class="card-img-top" src="assets/images/ashutosh-dp.jpg" alt="Card image" style="width: 100%;" />
                                <div class="card-body">
                                    <h4 class="title">Ashutosh Vyash</h4>
                                    <b class="position">VP of Marketing</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Great Team Great Product Ends-->

    <!-- Committment Starts-->

    <section class="recruitment-partners committment">
        <div class="container br_top">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                    <h2 class="text-center heading-design mb-5">Committed to creating a significant impact on the Everyone's lives</h2>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 d-flex align-items-center justify-content-center align-items-stretch">
                    <div class="card recruit-team mb-3">
                        <img class="card-img-top" src="assets/images/women-work.jpg" alt="Card image" style="width: 100%;" />
                        <div class="card-body">
                            <h4 class="title">70% increase in Women Work Participation</h4>
                            <a href="#" class="full-story-link">Learn More<img src="assets/images/arrow-right.png" alt="Right Arrow" /></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-2 d-flex align-items-center justify-content-center align-items-stretch">
                    <div class="card recruit-team mb-3">
                        <img class="card-img-top" src="assets/images/remote-wroking.jpg" alt="Card image" style="width: 100%;" />
                        <div class="card-body">
                            <h4 class="title">Remote working leads to 150% increase in rural workforce...</h4>
                            <a href="#" class="full-story-link">Learn More<img src="assets/images/arrow-right.png" alt="Right Arrow" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Committment Ends-->

    <!-- OptimHire Content Starts-->

    <section class="optim-hire-content">
        <div class="container">
            <p class="primary mb-5">OptimHire is Breaking the Odds of the Traditional recruiting process. OptimHire on average reduces the time to hire from 6 months to just 12 days.</p>
            <p class="primary">
                OptimHire is the global job ecosystem where there are no boundaries. A.I. powered advanced job portal, 600 million prescreened candidates & thousands of freelance recruiters, scale your hiring process instantly. OptimHire is creating significant IMPACT
                on peoples' lives.
            </p>
        </div>
    </section>

    <!-- OptimHire Content Ends-->

    <!-- Blog Section Starts-->

    <section class="latest-news">
        <div class="container">
            <h2 class="text-center heading-design mb-5">Latest Company News</h2>

            <div class="row d-flex">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch justify-content-center mx-auto">
                    <div class="card recruit-team mb-3">
                        <div class="img-wrap"><img class="card-img-top" src="assets/images/optim-feature.jpg" alt="Card image" style="width: 100%;" /></div>
                        <div class="card-body">
                            <b class="position">Technology <span class="float-end">Dec 12, 2021</span></b>
                            <h4 class="title">OptimHire Features: Introducing Hiring</h4>
                            <a href="#" class="full-story-link">Read More<img src="assets/images/arrow-right.png" alt="Right Arrow" /></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch justify-content-center mx-auto">
                    <div class="card recruit-team mb-3">
                        <div class="img-wrap"><img class="card-img-top" src="assets/images/tool-feature.jpg" alt="Card image" style="width: 100%;" /></div>
                        <div class="card-body">
                            <b class="position">Tools <span class="float-end">Jan 02, 2022</span></b>
                            <h4 class="title">The Complete Guide to Employee Onboarding</h4>
                            <a href="#" class="full-story-link">Read More<img src="assets/images/arrow-right.png" alt="Right Arrow" /></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-flex align-items-stretch justify-content-center mx-auto">
                    <div class="card recruit-team mb-3">
                        <div class="img-wrap"><img class="card-img-top" src="assets/images/hiring-feature.jpg" alt="Card image" style="width: 100%;" /></div>
                        <div class="card-body">
                            <b class="position">Hiring <span class="float-end">Jan 02, 2022</span></b>
                            <h4 class="title">Is it Possible to Reinvent Your Company Culture?</h4>
                            <a href="#" class="full-story-link">Read More<img src="assets/images/arrow-right.png" alt="Right Arrow" /></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center mt-5"><a href="#" class="btn btn-green btn-lg fw-600">See All Blogs</a></div>
            </div>
        </div>
    </section>

    <!-- Blog Section Ends-->

    <!-- Contact Link Starts-->

    <section class="contact-link">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-sm-12 mx-auto col-12 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="title">Investor Deck</h4>
                            <a data-bs-toggle="modal" data-bs-target="#investors_contact" href="#" class="btn btn-green btn-lg fw-600">Contact Us</a>
                        </div>
                        <div class="valid-form-box">
                            <div class="modal fade" id="investors_contact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="investors_contactLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-4 px-4">
                                        <div class="modal-header border-0">
                                            <h1>Contact Us</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" />
                                                </div>

                                                <div class="input-group mb-3">
                                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" />
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input id="phone" type="tel" name="phone" class="form-control" />
                                                </div>
                                                <div class="form-group mb-3">
                                                    <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1" placeholder="Password" />
                                                </div>
                                                <div class="form-group mb-3 mt-5">
                                                    <a href="#" class="btn btn-green btn-lg fw-600">Submit</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mx-auto col-12 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="title">Press Kit</h4>
                            <a data-bs-toggle="modal" data-bs-target="#PressKit" href="#" class="btn btn-green btn-lg fw-600">Contact Us</a>
                        </div>
                        <div class="valid-form-box">
                            <div class="modal fade" id="PressKit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="PressKit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-4 px-4">
                                        <div class="modal-header border-0">
                                            <h1>Contact Us</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" />
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" />
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input id="phone2" type="tel" name="phone" class="form-control" />
                                                </div>
                                                <div class="form-group mb-3">
                                                    <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1" placeholder="Password" />
                                                </div>
                                                <div class="form-group mb-3 mt-5">
                                                    <a href="#" class="btn btn-green btn-lg fw-600">Submit</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Link Ends-->
</main>

<!-- Footer Start -->

<footer>
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-xxl-9 col-xl-11 col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 footer-links mb-5">
                        <h3 class="text-white">Solution</h3>
                        <ul>
                            <li><a href="#why_business" class="text-white">Why Us?</a></li>
                            <li><a href="#success_stories" class="text-white">Success Stories </a></li>
                            <li><a href="#pricing" class="text-white">Pricing </a></li>
                            <li><a href="https://test.optimhire.com/developers/Search-job" class="text-white">Browse Talent</a></li>
                            <li><a href="#" class="text-white">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 footer-links mb-5">
                        <h3 class="text-white">Features</h3>
                        <ul>
                            <li><a href="#" class="text-white">Applicant Tracking</a></li>
                            <li><a href="#" class="text-white">Hiring Resources </a></li>
                            <li><a href="#" class="text-white">ATS System </a></li>
                            <li><a href="#" class="text-white">Interview schedule</a></li>
                            <li><a href="#" class="text-white">TImesheet Managmet</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 footer-links mb-5">
                        <h3 class="text-white">Company</h3>
                        <ul>
                            <li><a href="https://test.optimhire.com/developers/Search-job" class="text-white">Jobs for Candidates</a></li>
                            <li><a href="https://test.optimhire.com/re" class="text-white">Become a Partner </a></li>
                            <li><a href="https://test.optimhire.com/recruiter" class="text-white">Join Internal partner </a></li>
                            <!--li><a href="#" class="text-white">Corporate site </a></li>
          <li><a href="#" class="text-white">Investors</a></li>
          <li><a href="#" class="text-white">Media Kit</a></li-->
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 footer-links mb-5">
                        <h3 class="text-white">Client Support</h3>
                        <ul>
                            <li><a href="tel:+1 415 644 5123" class="text-white">(US) +1 415 644 5123 </a></li>
                            <li><a href="tel:(UK) +44 1253 335595" class="text-white">(UK) +44 1253 335595 </a></li>
                            <li><a href="tel:(IND) +91 7386 932452" class="text-white">(IND) +91 7386 932452</a></li>
                        </ul>
                        <div class="d-none d-lg-block d-xl-block">
                            <div class="socialLinks">
                                <a class="" href="https://www.linkedin.com/company/optimhire" target="_blank"> <i class="fa fa-linkedin"></i> </a>
                                <a class="" href="https://www.facebook.com/Optimhire" target="_blank"> <i class="fa fa-facebook"></i> </a>
                                <a class="" href="https://www.youtube.com/c/OptimHire" target="_blank"> <i class="fa fa-youtube-play"></i> </a>
                                <a class="" href="https://www.instagram.com/optimhire/" target="_blank"> <i class="fa fa-instagram"></i> </a>
                                <a class="" href="https://twitter.com/OptimHire" target="_blank"> <i class="fa fa-twitter"></i> </a>
                            </div>
                            <div class="policy footer-links d-flex align-items-center text-center px-0">
                                <a href="https://optimhire.com/legal/privacy-policy/" class="flex-fill">Privacy</a>
                                <span class="px-2 py-2">|</span>
                                <a href="https://optimhire.com/legal/" class="flex-fill">Terms of Services</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-block d-lg-none d-xl-none">
                        <div class="socialLinks">
                            <a class="" href="https://www.linkedin.com/company/optimhire" target="_blank"> <i class="fa fa-linkedin"></i> </a>
                            <a class="" href="https://www.facebook.com/Optimhire" target="_blank"> <i class="fa fa-facebook"></i> </a>
                            <a class="" href="https://www.youtube.com/c/OptimHire" target="_blank"> <i class="fa fa-youtube-play"></i> </a>
                            <a class="" href="https://www.instagram.com/optimhire/" target="_blank"> <i class="fa fa-instagram"></i> </a>
                            <a class="" href="https://twitter.com/OptimHire" target="_blank"> <i class="fa fa-twitter"></i> </a>
                        </div>
                        <div class="policy footer-links d-flex align-items-center text-center px-0">
                            <a href="https://optimhire.com/legal/privacy-policy/" class="flex-fill">Privacy</a>
                            <span class="px-2 py-2">|</span>
                            <a href="https://optimhire.com/legal/" class="flex-fill">Terms of Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        <h5 class="mb-3">© 2017 - 2021 OptimHire Inc, 4344 Fellow ST. Union City CA 94587 USA</h5>
        <p>India Partner - OptimHire Software Pvt Ltd , 3rd Floor , Adarsha Villa, Road No. 1, Banjara Hills, Hyderabad - 500004, India</p>
    </div>
</footer>





<!--------------------------------------------------- Video Modals --------------------------------------------------->

<div id="recruit1" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/recruit-1.png">
    <source id="mp4" src="assets/images/1.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recruit2" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/recruit-2.png">
    <source id="mp4" src="assets/images/2.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recruit3" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/recruit-3.png">
    <source id="mp4" src="assets/images/3.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dev1" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/dev_1.jpg">
    <source id="mp4" src="assets/images/d_1.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dev2" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/dev_2.jpg">
    <source id="mp4" src="assets/images/d_2.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dev3" class="modal fade recruit-team">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="javascript:void(0);" type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>

            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="height: 315px;">
                    <video id="video" height="315px" autoplay="off" controls="controls" preload="none" width="100%" poster="assets/images/dev_3.jpg">
    <source id="mp4" src="assets/images/d_3.mp4" type="video/mp4" />
  </video>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/js/custom_js.js"></script>